*{
    color: white;
}
body{
    background-color: #000;
    
}


.btn,footer{
    background-color: rgb(13, 202, 240);
}

.corrusel{
    padding: 0;
}

.card{
    background-color: rgb(13, 202, 240);
}

h2{
    text-align: center;
}


#boton-enviar{
    text-align: center;
}

footer{
    border: 0;
}

.footer-height {
    height: 5vh;
}